/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
.padding {
  padding: 5em;
}
.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
.bg {
  background-color: #d1eeff;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.container h1 {
  font-size: 3em;
  font-weight: bold;
}
.container h2 {
  font-weight: bold;
  margin-bottom: 1em;
}
.container header {
  padding: 2em 0;
}
.container header nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}
.container header nav a {
  color: #111111;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.container header nav a:hover {
  border-bottom: 2px solid #111111;
}
.container main {
  background-color: #85d3ff;
  width: 100%;
  padding: 3em;
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container main section {
  margin-bottom: 2em;
}
.container main .introduction {
  display: flex;
  justify-content: space-between;
  background-color: #426980;
  padding: 1.5em;
}
.container main .introduction .introduction-image-container {
  width: 50%;
  margin: auto 0;
}
.container main .introduction .introduction-image-container img {
  width: 100%;
}
.container main .introduction .introduction-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45%;
}
.container main .introduction .introduction-description .introduction-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container main .introduction .introduction-description .introduction-headline p {
  font-size: 0.8em;
  width: 80%;
  padding-bottom: 1em;
}
.container main .introduction .introduction-description .introduction-headline button {
  border: 3px solid #111111;
  padding: 0.5em 5em;
  background-color: #697780;
  color: #111111;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.container main .about-me {
  width: 80%;
}
.container main .work-history {
  width: 100%;
}
.container main .work-history table {
  width: 100%;
  border-collapse: collapse;
}
.container main .work-history table tr {
  text-align: left;
}
.container main .work-history table tr th,
.container main .work-history table tr td {
  border: 1px solid #111111;
  padding: 0.8rem;
}
.container main .work-history table tr th {
  font-weight: bold;
}
.container main .work-history table tr:nth-child(even) {
  background-color: #6aa8cc;
}
.container main .contact {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container main .contact .contact-form {
  width: 60%;
}
.container main .contact .contact-form fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.container main .contact .contact-form fieldset legend {
  font-weight: bold;
}
.container main .contact .contact-form fieldset button {
  border: 3px solid #111111;
  padding: 0.5em 5em;
  background-color: #697780;
  color: #111111;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.container footer {
  text-align: center;
  padding: 2em 0;
}
.container footer p {
  font-size: 1.4em;
}
